body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 8px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    padding: 16px;
}

.sidebar a:hover {
    color: #f1f1f1;
}
